
<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start" >
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      Asesores
    </ion-title>
    <ion-buttons slot="end">
        <ion-button >
              <ion-icon name="archive"></ion-icon>
        </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-searchbar placeholder="Busca el asesor" ></ion-searchbar>
  <ion-list>
    <ion-list-header>
      Selecciona el Profesor
    </ion-list-header>
  
    <ion-item>
      <ion-avatar slot="start">
        <div class="triple-avatar">

          <div style="background-image: url(http://pre13.deviantart.net/bfc5/th/pre/i/2012/082/6/b/jack_nicholson_by_metalr_a_y-d4tntsc.jpg)"></div>
          <div style="background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/sauro/128.jpg)"></div>
          <div style="background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg)"></div>

        </div>
      </ion-avatar>
      <ion-label>
        <h2>Ing. Mecanica</h2>
        <h3>Carlos castro medina</h3>
        <p>cubiculo 19</p>
      </ion-label>

    </ion-item>

    <ion-item (click)="viewPerfilModal()">
      <ion-avatar slot="start">
        <div class="triple-avatar">

          <div style="background-image: url(../../../assets/img/maestros/foto1.jpg)"></div>
          <div style="background-image: url(../../../assets/img/maestros/foto2.jpg)"></div>
          <div style="background-image: url(../../../assets/img/maestros/foto3.jpg)"></div>

        </div>
      </ion-avatar>
      <ion-label>
          <h2>Ing. Sistemas</h2>
          <h3>Juan Manuel Stein Carrillo</h3>
          <p>cubiculo 123</p>
      </ion-label>
    </ion-item>





    <ion-item>
      <ion-avatar slot="start">
        <div class="triple-avatar">

          <div style="background-image: url(../../../assets/img/maestros/foto4.jpg)"></div>
          <div style="background-image: url(../../../assets/img/maestros/foto5.jpg)"></div>
          <div style="background-image: url(../../../assets/img/maestros/foto6.jpg)"></div>

        </div>
      </ion-avatar>
      <ion-label>
          <h2>M en  Sistemas</h2>
          <h3>Humberto  medina castro</h3>
          <p>cubiculo 11</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <div class="triple-avatar">

          <div style="background-image: url(../../../assets/img/maestros/foto7.jpg)"></div>
          <div style="background-image: url(../../../assets/img/maestros/foto8.jpg)"></div>
          <div style="background-image: url(../../../assets/img/maestros/foto9.jpg)"></div>

        </div>
      </ion-avatar>
      <ion-label>
          <h2>Ing. Sistemas</h2>
          <h3>Alejandro torres perez</h3>
          <p>cubiculo 16</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
