<ion-header>
    <ion-toolbar color="secondary" text-center>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title text-center>
        Informacion General
      </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item-group>
        <ion-item-divider>
          <ion-label>Semestre Actual</ion-label>
        </ion-item-divider>

        <ion-item>
          <ion-label>Calificaciones</ion-label>
          <ion-icon slot="end" name="arrow-dropright-circle"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>Horario</ion-label>
          <ion-icon slot="end" name="arrow-dropright-circle"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>Reporte Faltas</ion-label>
          <ion-icon slot="end" name="arrow-dropright-circle"></ion-icon>
        </ion-item>
      </ion-item-group>
      <br>
      <ion-item-group>
        <ion-item-divider>
          <ion-label>Reinscripcion</ion-label>
        </ion-item-divider>

        <ion-item>
          <ion-label>Solicitud de Reinscripcion</ion-label>
          <ion-icon slot="end" name="arrow-dropright-circle"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>Registro Globales</ion-label>
          <ion-icon slot="end" name="arrow-dropright-circle"></ion-icon>
        </ion-item>

      </ion-item-group>
      <br>
      <ion-item-group>
        <ion-item-divider>
          <ion-label>Servicios</ion-label>
        </ion-item-divider>

        <ion-item>
          <ion-label>Solicitud de Seguro </ion-label>
          <ion-icon slot="end" name="arrow-dropright-circle"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>Solicitud de Biblioteca</ion-label>
          <ion-icon slot="end" name="arrow-dropright-circle"></ion-icon>
        </ion-item>

      </ion-item-group>



</ion-content>
