/*ion-menu {
    --ion-background-color: var( --ion-color-primary);
    --ion-text-color: var( --ion-color-primary-contrast);

    ion-toolbar {

      --ion-text-color: var( --ion-color-primary-contrast);

    }
    ion-content{
        --ion-background-color: var(  --ion-color-secondary);
        --ion-text-color: var( --ion-color-primary-contrast);
    }





    ion-footer{
        --background: #63869b;
        --ion-text-color: var( --ion-color-primary-contrast);
    }
  }*/